* {
	box-sizing: border-box !important;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: #000;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #00ffcc;
}

a:hover {
	color: #b3fff0;
	text-shadow: 0 0 15px #00ffcc;
}

main {
	flex-grow: 1;
}

main .pageWidth {
	position: relative;
}

main p {
	line-height: 1.5em;
}

h1,
h2,
h3,
h3 {
	color: dodgerblue;
}

nav {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

nav a {
	padding: 10px;
	font-size: 1.3rem;
	flex-grow: 1;
	text-align: center;
	text-decoration: none;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

nav a.selected {
	border-left: 1px solid dodgerblue;
	border-right: 1px solid dodgerblue;
	background-color: #0a2642;
}


nav a:hover {
	text-decoration: none;
	background-color: dodgerblue;
	color: white;
	box-shadow: 0 0 25px dodgerblue;
}

textarea {
	resize: vertical;
}

input,
textarea {
	margin: 5px;
	background-color: black;
	color: #ccc;
	padding: 5px;
	border: 2px inset #ccc;
	border-radius: 0.5em;
}

input[type="number"] {
	color: #c49c00;
	border-color: #c49c00;
}

input[type="text"],
textarea {
	color: #99c0ff;
	border-color: #99c0ff;
}

select {
	padding: 5px;
	margin: 5px;
	background-color: black;
	color: #00ffcc;
	border: 1px inset #00ffcc;
	border-radius: 0.5em;
}

fieldset {
	border: 2px inset #5e5e5e;
	border-radius: 0.5em;
	background-color: #181818;
	margin-bottom: 1em;
}

fieldset legend {
	background-color: #5e5e5e;
	padding: 0.5em;
	border: 2px outset #5e5e5e;
	border-radius: 0.5em;
}

button {
	margin: 5px;
	padding: 10px;
	border: 2px outset aquamarine;
	color: aquamarine;
	background-color: black;
	border-radius: 0.2em;
	cursor: pointer;

}

button:hover {
	background-color: aquamarine;
	color: black;
}

button:disabled {
	color: grey;
	border-color: grey;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: white;
}

button.delBtn {
	margin: 5px 0;
	padding: 10px;
	border: 2px outset red;
	color: red;
	background-color: black;
	border-radius: 0.5em;
	cursor: pointer;
}

button.delBtn:hover {
	background-color: red;
	color: black;
}

li {
	margin-bottom: 1em;
}

.pageWidth {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: #222;
	min-height: 100%;
	color: #ccc;
}

.scrollOverflow {
	width: 100%;
	height: 90vh;
	position: relative;
}

#sizeCalc {
	padding: 2px;
}

#stopDrawingBtn {
	border: 2px solid red;
	color: red;
}

#stopDrawingBtn:hover {
	color: white;
	background-color: red;
}

.navHolder {
	width: 100%;
	background-color: #111;
	border-bottom: 2px solid dodgerblue;
}

.area {
	margin-top: 30px;
	margin-bottom: 60px;
}

.secBlock {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #181818;
	border: 2px solid #5d89b3;
	border-radius: 0.5em;
}

.secBlock:first-child {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}


.secBlock:last-child {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.fullwidth {
	width: 100%;
}

.optionsArea {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid gray;
}

.optionsArea .op {
	margin: 10px 0;
	min-width: 50%;
	flex-grow: 1;
}

.optionsArea .nameArea {
	width: 100%;
}

.optionsArea .nameArea #nameInput {
	width: 100%;
	font-size: 2rem;
	padding: 1rem;
}

.pendulumOptions .op {
	border-bottom: 1px dotted black;
}

.tab {
	display: none;
}

.tab.open {
	display: block;
}

.randSelectArea {
	display: flex;
	align-items: center;

}

.detailsTable {
	width: 100%;
	border-collapse: collapse;
}

.randBtn {
	font-size: 32px;
	padding: 0 0.2em;
}

.randSelectArea #rollBtn {
	margin-right: 25px;
}

.randSelectArea div {
	font-size: 32px;
}

.nameBlock .lineArea {
	display: flex;
	align-items: center;
}

.lineArea div {
	width: 100%;
	margin: 0 1em;
	background: #313131;
	padding: 0.5em;

}

.detailsTable .lineArea div {
	margin: 0;
}

.detailsTable .tblRand {
	text-align: center;
	width: 0;
}

.detailsTable .tblLabel {
	text-align: left;
	vertical-align: top;
	width: 0;
	padding-right: 10px;
}

.charBlock {
	background-color: #353535;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #535353;
	margin-bottom: 30px;
}

.charBlock .profilePic {
	height: 128px;
	border-radius: 10px;
}

.charHeader {
	display: flex;
}

.nameBlock {
	width: 100%;
}

.nameBlock label {
	display: none;
}

.nameBlock div {
	font-size: 24px;
}

td {
	vertical-align: top;
	border-bottom: 1px solid #666;
	padding: 5px;
}

.detailsTable label {
	opacity: 0.5;
}

.hidden {
	display: none;
}

#printBtn {
	padding: 0;
	font-size: 32px;
	border-radius: 5px;
}

@media print {

	.navHolder,
	button,
	header {
		display: none;
	}

	body,
	.pageWidth,
	.charBlock {
		background-color: white;
	}

	.pageWidth {
		margin: 0;
	}

	#charArea {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.charBlock {
		color: black;
		box-shadow: inset 0 0 1000px #eee;
		border: none;
		flex-shrink: 1;
		flex-grow: 1;
		width: calc(50% - 10px);
		margin: 5px;
		position: relative;
		break-inside: avoid;
		page-break-inside: avoid;
	}

	input,
	textarea {
		color: black !important;
		background-color: white;
		border: none;
		padding: 0;
	}



	td {
		padding: 0;
		padding-bottom: 3px;
		font-size: 12px;
	}

	.charBlock .profilePic {
		height: 64px;
		filter: grayscale(1);
		opacity: 0.5;
	}
}

.propertyHolder {
	margin-left: 1em;
	border-left: 1px solid #666;
	padding: 5px;
}

.propertyHolder label {
	opacity: 0.5;
}

.statBlock {
	width: 100%;
	text-align: center;
}

.minimized {
	display: none;
}

.questItem {
	color: #ffdd64;

}

#chatInput {
	display: flex;
}

#chatInput #chatInputBox {
	flex-grow: 1;
}

#chatInput #chatSendBtn {
	flex-grow: 0;
}

.chatMsg {
	border: 1px solid;
	padding: 1em;
}

.chatMsg.userMsg::before {
	content: 'you: ';
	opacity: 0.5;
}

.chatMsg.npcMsg span.tag {
	opacity: 0.5;
}

.chatMsg.userMsg {
	background: #002642;
}

.chatMsg.npcMsg {
	background: #2b4200;
}

.savedCharBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #444;
	margin: .5em;
	padding: .5em;
	border-radius: .5em;
}

.savedCharBlock .charName{
	flex-grow: 1;
}

.savedCharBlock:hover {
	background: #555;
	cursor: pointer;
}

.msgBlock {
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: monospace;
	font-size: 1.2em;
}
.msgRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0.5em 0;
}
.msgRow.user{
	justify-content: flex-start;
}
.msgRow.user::after{
	content: '';
	min-width: 2em;
}
.msgRow.npc{
	justify-content: flex-end;
}
.msgRow.npc::before{
	content: '';
	min-width: 2em;
}
.msg {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
	color: #e0e0e0;
}
.msg .msgHeader{
	opacity: 0.5;
	font-size: 0.75em;
	width: 100%;
}
.npc .msg .msgHeader{
	text-align: right;
}
.user .msg {
	background-color: #004042;
}
.npc .msg {
	background-color: #093a00;
	
}

.extraRow input{
	width: 100%;
}

.centerCell{
	text-align: center;
}